.backgroundImage {
    background-image: url("background/finalBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.fullPage {
    height: auto;
    max-width: 100%;
}

.buttons {
    display: inline-flex;
    gap: 14px;
    margin: 10px auto 0;
}

.images {
    float: left;
    height: auto;
    max-width: 100%;
    margin: 10px auto 0;
}

.imageSpacing {
    padding-bottom: 7px;
    margin: 10px auto 0;
}

.footer {
    height: 0;
    max-width: 100%;
    border-top: #bbbbbb 50px;
    border-bottom: #bbbbbb 50px;
    position: absolute;
    bottom: 0;
    padding-bottom: 170px;
    padding-left: 10px;
    margin: 10px auto 0;
}