.backgroundImage {
    background-image: url("background/finalBackground.png");
    background-repeat: no-repeat;
    object-fit: cover;
}

.fullPage {
    height: auto;
    max-width: 100%;
}

.homepageImage {
    background-image: url("background/ivory-off-white-paper-texture.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
}

.buttons {
    display: inline-flex;
    gap: 14px;
    margin: 10px auto 0;
}

.mainMenuButtonLayout {
    border-radius: 5px;
    width: auto;
    height: auto;
}

.mainButtonBorder {
    border-radius: 5px;
    width: auto;
    height: auto;
    background-image: url("background/ivory-off-white-paper-texture.jpg");
}

.images {
    float: left;
    height: auto;
    max-width: 100%;
    margin: 10px auto 0;
}

.imageSpacing {
    padding-bottom: 7px;
    margin: 10px auto 0;
}

.aboutMyInformation {
    height: 0;
    max-width: 100%;
    border-top: #bbbbbb 30px;
    border-bottom: #bbbbbb 30px;
    position: absolute;
    right: 0;
    left: 0;
    padding-left: 70px;
    padding-top: 35px;
}

.boxPreview {
    display: none;
    width: 100%;
}

a:hover + .boxPreview,.boxPreview:hover{
    display: block;
    position: relative;
    z-index: 100;
}

.previewBorders {
    border-color: black;
    border-style: groove;
}

.middleButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 65%;
    padding-top: 350px;
}

.informationPadding {
    padding-left: 20px;
}

.aboutPageTitle {
    top: 0;
    text-align: center;
    padding-top: 14px;
}

.solidBackground {
    background: rgba(185, 153, 118, 0.8);
    width: fit-content;
    height: fit-content;
}

.quoteFontSize {
    font-size: 18px;
}

.bottomOfAboutPage {
    bottom: 0;
}

.textSize {
    font-size: 18px;
}

.textAlignment {
    text-align: justify;
    text-justify: inter-word;
}

input[type=checkbox]:checked + label.strikethrough {
    text-decoration: line-through;
}

.buttonPadding {
    padding: 5px;
}

.centeredHeadings {
    top: 0;
    text-align: center;
    padding-top: 14px;
}

.navigateSize {
    font-size: 22px;
}

.navbar-center {
    float: none;
    position: relative;
    top: 50%;
    left: 49.6%;
    padding: 7px;
    transform: translate(-50%, -50%);
    background-color: gray;
    max-width: fit-content;
    overflow: hidden;
    text-align: center;
}

.navbar-center a {
    color: black;
    text-align: center;
    padding-bottom: 14px;
    text-decoration: none;
    font-size: 18px;
}

.navbar-center a:hover {
    background-color: #4790b5;
    color: black;
}


.navigate {
    float: none;
    position: relative;
    top: 50%;
    left: 49.6%;
    padding: 7px;
    transform: translate(-50%, -50%);
    max-width: fit-content;
    overflow: hidden;
    text-align: center;
}

.aboutPage {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    padding-top: 740px;
}