.backgroundImage {
    background-image: url("background/finalBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.fullPage {
    height: auto;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 14px;
}

.images {
    float: right;
}

.imageSpacing {
    padding-right: 7px;
    padding-bottom: 7px;
}

.buttonPadding {
    padding-bottom: 12px;
    padding-left: 800px;
}

.buttonPaddingBreakfastSandwich {
    padding-top: 145px;
    padding-left: 800px;
}

.buttonPaddingChiliOil {
    padding-top: 205px;
    padding-left: 800px;
}

.buttonPaddingCrispyChickenRamen {
    padding-top: 205px;
    padding-left: 800px;
}

.buttonPaddingOmelet {
    padding-top: 205px;
    padding-left: 800px;
}

.buttonPaddingPotatoCakes {
    padding-top: 205px;
    padding-left: 800px;
}

.buttonPaddingStir-FriedRice {
    padding-top: 205px;
    padding-left: 800px;
}

.buttonPaddingWhiteBread {
    padding-top: 205px;
    padding-left: 800px;
}